<main>

    <h1 class="text-center my-5">Tienda holistica PM</h1>
    {{#if details}}
        <p>{{details}}</p>
    {{else}}
        <div class="d-flex align-items-center justify-content-center  ">
        <p class="text-center font-weight-bold text-zoom-on-hover transition"><strong>¡bienvenida/o! En nuestra tienda encontrarás todos los productos holisticos necesarios para tu día, ayudando a balancear tus energías y el ambiente en el que estés. Todos los productos son hechos especialmente para cada persona, hechos por nuestra terapeuta energetica. Esperamos que tengas una grata compra en nuestra página</strong></p>
        </div>

    {{/if}}


</main>